.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.inputNarrow {
  max-width: 300px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
