.square {
  width: 256px;
  height: 256px;
  background-color: rgb(200 208 158);
  position: relative;
}

.square::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 41px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: rgb(210 106 106 / 85%);
}

.center-point {
  width: 8px;
  height: 8px;
}
